name: image-gallery-gateway

services:

  gateway-service:
    build:
      context: ./app
    image: gallery-gateway-service
    environment:
      - REDIS_USER=${REDIS_USER}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    depends_on:
      redis:
        condition: service_healthy
      setup-certificates:
        condition: service_completed_successfully
    ports:
      - "${GATEWAY_SERVICE_PORT}:8443"
    volumes:
      - gateway_certs:/app/certs/gateway
      - auth_certs:/app/certs/auth
    healthcheck:
      test: [ "CMD-SHELL", "test -f /tmp/healthy || exit 1" ]
      interval: 20s
      timeout: 5s
    restart: unless-stopped
    networks:
      - redis-net

  redis:
    image: redis:8-alpine
    container_name: redis-cache-container
    environment:
      - REDIS_DEFAULT_PASSWORD=${REDIS_DEFAULT_PASSWORD}
      - REDIS_USER=${REDIS_USER}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data
      - ./conf/redis/redis.conf:/usr/local/etc/redis/redis.template.conf
      - ./conf/redis/users.acl:/usr/local/etc/redis/users.template.acl
      - ./conf/redis/entrypoint.sh:/usr/local/etc/redis/entrypoint.sh
    entrypoint: [ "sh", "/usr/local/etc/redis/entrypoint.sh" ]
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s
      start_interval: 3s
    restart: unless-stopped
    networks:
      - redis-net

  setup-certificates:
    image: alpine/openssl:3.3.3
    volumes:
      - ./conf/cert:/opt/app/conf:ro
      - gateway_certs:/opt/app/gateway_certs
      - auth_certs:/opt/app/auth_certs
    working_dir: /opt/app
    restart: no
    entrypoint: [ "sh", "conf/initCertificates.sh" ]

networks:
  redis-net:

volumes:
  redis_data:
  gateway_certs:
  auth_certs: