service:
  url:
    auth: ${AUTH_SERVICE_URL:http://auth-service:8080}
    users: ${USERS_SERVICE_URL:http://user-service:8080}
    images: ${IMAGES_SERVICE_URL:http://image-service:8080}
    comments: ${COMMENTS_SERVICE_URL:http://comment-service:8080}
  public-endpoints: >
    /api/auth/login,
    /api/auth/refresh,
    /api/users/register

server:
  port: 8443
  ssl:
    enabled: true
    bundle: api-gateway

spring:
  application:
    name: Image Gallery Api Gateway

  security:
    oauth2:
      resource-server:
        jwt:
          jws-algorithms: RS512
          public-key-location: "file:/app/certs/auth/auth-pubkey.pem"

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: ${service.url.users}
              predicates:
                - Path=/api/users/**
            - id: auth-service
              uri: ${service.url.auth}
              predicates:
                - Path=/api/auth/**
            - id: comment-service
              uri: ${service.url.comments}
              predicates:
                - Path=/api/comments/**
            - id: image-service
              uri: ${service.url.images}
              predicates:
                - Path=/api/images/**
              filters:
                - name: RequestSize
                  args:
                    maxSize: 50MB
          default-filters:
            - name: RequestRateLimiter
              args:
                key-resolver: "#{@ipKeyResolver}"
                redis-rate-limiter.replenishRate: 5
                redis-rate-limiter.burstCapacity: 10
                redis-rate-limiter.requestedTokens: 1
            - RequestHeaderSize=1MB
            - name: RequestSize
              args:
                maxSize: 5MB
            - name: SecureHeaders
            - name: TokenInvalidationChecker
            - name: TokenRelay
            - name: JwtToHeaders

          httpclient:
            connect-timeout: 2000
            response-timeout: 4s

          filter:
            request-rate-limiter:
              deny-empty-key: true
              empty-key-status-code: 403

  data:
    redis:
      host: ${REDIS_HOST:redis}
      port: 6379
      database: 0
      username: ${REDIS_USER:testRedisUser}
      password: ${REDIS_PASSWORD:testRedisUserPassword}
      client-type: lettuce
      connect-timeout: 2s
      timeout: 2s
      repositories:
        enabled: false
      lettuce:
        pool:
          max-wait: 2s

  ssl:
    bundle:
      pem:
        api-gateway:
          keystore:
            certificate: "file:/app/certs/gateway/gateway-server.pem"
            private-key: "file:/app/certs/gateway/gateway-server.key"

---
#Configuration for dev profile
spring:
  config:
    activate:
      on-profile: dev
  security:
    oauth2:
      resource-server:
        jwt:
          public-key-location: classpath:/keys/auth-pubkey.pem
  data:
    redis:
      host: localhost
server:
  port: 8084
  ssl:
    enabled: false

service:
  url:
    auth: ${AUTH_SERVICE_URL:http://localhost:8080}
    users: ${USERS_SERVICE_URL:http://localhost:8081}
    images: ${IMAGES_SERVICE_URL:http://localhost:8082}
    comments: ${COMMENTS_SERVICE_URL:http://localhost:8083}

---
#For smoke test run
spring:
  config:
    activate:
      on-profile: smoke
server:
  ssl:
    enabled: false